html {
    font-family: sans-serif;
}

pre.task .cm-formatting-task {
    color: red;
    font-family: monospace;
    font-weight: bold;
}

pre.task.task-completed .cm-formatting-task {
    color: green;
    text-decoration: line-through;
}
