html {
    font-family: sans-serif;
}

pre .cm-comment {
    font-family: monospace;
}

pre.task .cm-formatting-task {
    color: red;
    font-family: monospace;
    font-weight: bold;
}

pre.task.task-completed .cm-formatting-task {
    color: green;
    text-decoration: line-through;
}

#firebase-auth-wrapper {
    max-height: 0;
    transition: max-height 1s;
}

#icons-wrapper {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
}

#print-icon,
#sync-icon {
    width: 3rem;
    height: 3rem;
}

#sync-icon-fill {
    fill: grey;
}

#sync-status::before {
    content: 'Not syncing';
    vertical-align: 1rem;
}

.syncing #sync-icon-fill {
    fill: green;
}

.syncing.writing #sync-icon-fill {
    fill: lightblue;
}

#sync-status.syncing::before {
    content: 'Syncing';
}

.warning #sync-icon-fill {
    fill: orange;
}

#sync-status.warning::before {
    content: 'Please verify your email.';
}

.error #sync-icon-fill {
    fill: red;
}

#sync-status.error::before {
    content: 'Error syncing';
}

@media print {
    .no-print,
    .no-print * {
        display: none !important;
    }
}
